development:
  adapter: postgresql
  encoding: unicode
  database: saas_rails-development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: saas_rails-test
  pool: 5
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: saas_rails-production
  pool: 5
  username:
  password: